* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 1px 10px #000000;
  position: relative;
  

  img {
    width: 12rem;
    height: 6rem;
    margin: 1rem 1rem;
  }

  ul {
    display: flex;
    cursor: pointer;
    gap: 1.5rem;
    font-family: "poppins", sans-serif;
    font-size: 18px;
    font-weight: 500;
    padding: 1rem 5rem;
  }

  li {
    list-style: none;

    a {
      text-decoration: none;
      color: #000000;

      &:hover {
        color: #ffb82b;
        transition: 0, 3s;
      }
    }
  }
}

.btn_menu {
  background-color: transparent;
  border: none;
  color: #000000;
  cursor: pointer;
  margin-right: 4rem;
  display: none;
}

@media (max-width: 768px) {
  .btn_menu {
    display: block;
  }

  .menu {
    display: none;
  }

  .mostrar {
    display: flex;
    width: 50%;
    height: auto;
    position: absolute;
    top: 100px;
    right: 0;
    background-color: #f1f1f1;
    box-shadow: 1px 1px 10px #a7a7a7;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;

    ul {
      flex-direction: column;
      padding: 1.3rem;
      gap: 1rem;
    }
  }
}

@media (max-width: 480px) {
  .mostrar {
    width: 100%;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
}
