h4 {
  font-family: "roboto", sans-serif;
  font-size: 18px;
  color: #2d2d2d;
  margin-bottom: 0.4rem;
}

footer {
  display: flex;
  flex-wrap: wrap;
  box-shadow: 1px 1px 6px rgb(168, 168, 168);
  padding: 1.5rem;
  gap: 1.7rem 0;
  margin-top: 2rem;

  .footer_atend {
    width: 50%;
    display: flex;
    flex-direction: column;

    ul {
      cursor: pointer;
      font-family: "poppins", sans-serif;
      font-weight: 300;
      display: flex;
      flex-direction: column;
      gap: 0.4rem;
    }

    li {
      list-style: none;

      a {
        text-decoration: none;
        color: #2d2d2d;

        &:hover {
          color: #f2b63d;
          transition: 0, 3s;
        }
      }
    }
  }

  .footer_pag {
    width: 50%;
    display: flex;
    flex-direction: column;

    .footer_pag_icon {
      display: flex;
      flex-wrap: wrap;
      gap: 0.4rem;

      .img_pag_icon {
        width: 67px;
      }
    }
  }

  .footer_redes {
    display: flex;
    flex-direction: column;
    width: 50%;

    .footer_redes_icon {
      display: flex;
      gap: 0.5rem;

      .img_redes_icon {
        width: 30px;
        cursor: pointer;
      }
    }
  }
}

@media (min-width: 769px) {
  footer {
    flex-wrap: nowrap;
    padding: 3rem;
    gap: 3rem;
  }
}

@media (max-width: 480px) {
  footer {
    flex-direction: column;

    .footer_atend {
      width: 100%;
    }

    .footer_pag {
      width: 100%;
    }

    .footer_redes {
      width: 100%;
    }
  }
}
